html, body {
    background-color: black;
    margin: 0;
    padding: 0;
    /*height: 100%;*/
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    color: grey;
    width: 800px;
    /*height: 300px;*/
    padding: 30px;
    padding-top: 0;
    margin: 10px;
    border: 3px solid rgb(0, 0, 129);
    border-radius: 20px;
    text-align: center;
}

label {
    /*color: green;
    padding: 50px;*/
}

p {
    margin-bottom: 0;
}

.cl_field {
    border: 1px solid rgb(128, 0, 0);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.cl_hint {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70%;
    border-width: 1px;
    border-style: solid;
}
.cl_dispNone {
    display: none;
}

.cl_brushError {
    background-color: rgb(177, 24, 24);
    border-color: red;
}

.cl_brushWarning {
    background-color: rgb(240, 60, 29);
    border-color: orange;
}

.cl_brushCorrect {
    background-color: rgb(76, 107, 34);
    border-color: rgb(0, 199, 0);
}

#id_submit {
    margin-top: 20px;
}


