
html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(39, 47, 121);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: #6191e9;
    border: 4px solid #3b70d1;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgb(16, 20, 58);
    width: 400px;
    /*height: 700px;*/
}

h3 {
    margin: 10px auto;
    width: max-content;
}

.cl_display {
    font-family: 'DS-Digital', monospace;
    font-weight: bold;
    font-size: 400%;
    margin: 10px auto;
    display: block;
    width: 340px;
    text-align: right;
    box-shadow: 5px 5px 3px #90ace0,
                -5px -5px 3px #5178c2;
}

.cl_buttonContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
/*    height: 650px;
    position: relative;*/
}

.cl_buttonContainer button {
    font-size: 300%;
    height: 80px;
    margin: 10px;
}

.cl_outerBorder {
    border: 1px solid rgb(26, 26, 100);
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    overflow: auto;
}

#id_message {
    margin: 10px auto;
    width: max-content;
    color: darkred;
    font-weight: bold;
}

@font-face {
    font-family: 'DS-Digital';
    src: url('DS-DIGII.TTF') format('truetype');
}


